html, body{  
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
}
.bg-image{
    z-index: -1;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(images/background.jpeg);
    opacity: 0.5;
}
.center-items{
    z-index:1 ;
    margin: 5% auto;
    padding: 8px 32px;
    width: 50%;
   
    position: relative;
    background-color: white;
    text-align: center;
}
h1,
h3{
    padding: 8px;
    color: green;
    text-align: center;
    font-weight: bolder;  
}
h3{
    margin: -20px;
}
img{
    margin-bottom: 20px;
}
p{
    padding: 16px 100px;
    background-color: rgb(241, 241, 241);
    text-align: justify;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
a{
    display: inline-block;
    padding: 8px 24px;
    background-color: green;
    color: rgb(241, 241, 241);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
    margin-bottom: 20px;
}
a:hover{
    background-color: rgb(241, 241, 241);
    color: green;
}
ul.center-list,
ol.center-list{
    display: inline-block;
    text-align: justify ;
    background-color: rgb(241, 241, 241);
    padding: 16px 100px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}